[submodule "vendor/n"]
	path = vendor/n
	url = https://github.com/tj/n.git
[submodule "vendor/git-cipher"]
	path = vendor/git-cipher
	url = https://github.com/wincent/git-cipher
[submodule "aspects/dotfiles/files/.tpm"]
	path = aspects/dotfiles/files/.tpm
	url = https://github.com/tmux-plugins/tpm
