[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv
[submodule "roles/dotfiles/files/.base16-shell"]
	path = roles/dotfiles/files/.base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "roles/dotfiles/files/.oh-my-zsh"]
	path = roles/dotfiles/files/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible
[submodule "roles/dotfiles/files/.tpm"]
	path = roles/dotfiles/files/.tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vendor/git-cipher"]
	path = vendor/git-cipher
	url = https://github.com/wincent/git-cipher
[submodule "vendor/base16-iterm2"]
	path = vendor/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2
[submodule "roles/dotfiles/files/.mutt/vendor/mutt-notmuch-py"]
	path = roles/dotfiles/files/.mutt/vendor/mutt-notmuch-py
	url = https://github.com/honza/mutt-notmuch-py
