# Useful `.gitignore` templates:
# https://github.com/github/gitignore

# ----------------------------------------------------------------------
# | Linux                                                              |
# ----------------------------------------------------------------------

*~


# ----------------------------------------------------------------------
# | Miscellaneous                                                      |
# ----------------------------------------------------------------------

# Node.js & npm.

node_modules
npm-debug.log

.metals
.bloop

# ----------------------------------------------------------------------
# | macOS                                                              |
# ----------------------------------------------------------------------

._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon


# ----------------------------------------------------------------------
# | Vim                                                                |
# ----------------------------------------------------------------------

%*
*.sw[a-z]
*.un~
Session.vim


# ----------------------------------------------------------------------
# | Windows                                                            |
# ----------------------------------------------------------------------

Desktop.ini
ehthumbs.db
Thumbs.db


local.sbt
.scalafix.conf
